/*----------------------------BASIC-------------------------*/

	html{
		margin: 0;
		height: 100%;
	}
	body{
		margin: 0;
		height: 100%;
	}
	header{
		text-align: right;
		background-color:#d62906;
		height: 7.5%;
		font-size: 200%;
	}
	table{
		border: 1px solid black;
	    border-collapse: collapse;
	    padding: 5px;
	    position: relative;
	}
/*---------------------------STORAGE------------------------*/
	.storage th{
		border-right: 3px solid black;
	}
	.storage table{
		border: 5px solid black;
	}
	.last_ingredient{
		border-bottom: 5px double black;
	}
	.last_food{
		border-bottom: 2px solid black;
	}

/*---------------------------BUY_SELL-----------------------*/
	.shop_buy{
		display: none;
	}
	.shop_sell{
		display: none;
	}
	.buy_sell table{
	    border: 1px solid black;
	    border-collapse: collapse;
	    padding: 5px;
	    position: relative;
	    display: inline-table;
	    border-left: 2px solid rgb(255, 105, 0);
	    border-bottom: 2px solid rgb(255, 105, 0);
	    border-right:2px solid rgb(255, 105, 0);
	    border-top: 2.8px solid black;
	}
	th{
		border: 1px solid black;
	    border-collapse: collapse;
	    padding: 5px;
	  }
	td{
		border: 1px solid black;
	    border-collapse: collapse;
	    padding: 5px;
	    text-align: center;
	}
	.buy_sell{
		display: inline-table;
		border: 5px solid rgb(255, 105, 0);
	    border-radius: 5px;
	}

/*----------------------------CELLAR------------------------*/
	
	.cellar table{
	    border: 1px solid black;
	    border-collapse: collapse;
	    padding: 5px;
	    position: relative;
	    display: inline-table;
	    border-left: 2px solid rgb(255, 105, 0);
	    border-bottom: 2px solid rgb(255, 105, 0);
	    border-right:2px solid rgb(255, 105, 0);
	    border-top: 2.8px solid black;
	}
	.making{
		display: inline-table;
		border: 5px solid rgb(255, 105, 0);
	    border-radius: 5px;
	}

/*----------------------SIDES, IMG, MENU--------------------*/
	.right_side{
		background-color: #ffe451;
		width: 80%;
		min-height: 100%;
		display: inline-block;
		float: right;
	}
	.left_menu{
		background-color: #af1a1a;
		width: 20%;
		min-height: 100%;
		display: inline-block;
		float: left;
		text-align: center;
	}
	.left-side-button{
		margin: 5px;
		min-width: 80%;
		height: auto;
		background-color: rgb(255, 255, 134);
	}
	.company{
		padding: 10px;
	}
	.img{
		height: auto;
		max-width: 100%;
	}
	.veg-img{
		height: 200px;
		width: 25%;
	}

/*---------------------------LEVEL UP-----------------------*/

	/*----------------------BUTTONS-----------*/
		.levelup001{
			display: inline-block;
		}

	/*------------------LEVEL UP LOGO----------------*/

		.levelup001logo{
			height: 30px;
			display: block;
		}

/*---------------------- .MONEY, .WHEAT --------------------*/

	.money{
		padding-right: 20px;
		padding-left: 20px;	
	}
	.wheat{
		background-color: brown;
		margin: 5px;
		color: rgb(255, 203, 0);
	}

/*----------------------------PAGES-------------------------*/
	.shop{
		display: none;
	}
	.field{
		display: none;
	}
	.kitchen{
		display: none;
	}
	.storage{
		display: none;
	}
	.lea{
		display: none;
	}
	.fruity{
		display: none;
	}
	.cellar{
		display: none;
	}
	.cookbook{
		display: none;
	}
